.thankyou-page {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background: #fff;
}

.canvas-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.tankyou {
  max-width: 700px;
  margin: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
  z-index: 2;
}

.logo {
  width: 220px;
  margin: 0 auto 40px;
}

.cong {
  width: 275px;
  margin: 0 auto 20px;
}

.text {
  font-size: 24px;
  line-height: 30px;
  color: #000;
  padding-bottom: 25px;
}

.btn a {
  background: #eb731e;
  color: #fff;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
 
}

.btn a:hover {
  background: #1a1a1a;
}